@{
    ViewData["Title"] = "Home Page";
}

<div id='app-root' class="d-flex align-items-center justify-content-center">
    <div>
        Loading...
    </div>
</div>

@section scripts {
    <script src="~/dist/main.js" asp-append-version="true"></script>
}
